<div class="container">
    <h1 class="mt-4">Đăng bài</h1>
    <form action="/posts/store" method="post">
        <div class="form-group">
            <label for="exampleFormControlInput1">Title</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="name">
        </div>
        <div class="form-group">
            <label for="exampleFormControlInput1">Content</label>
            <textarea class="form-control" id="description" name="description" rows="10"></textarea>
        </div>
        <div class="form-group">
            <label for="exampleFormControlInput1">Image Link</label>
            <input type="text" class="form-control" id="image" name="image" placeholder="Image Link">
        </div>
        <input class="btn btn-primary" type="submit" value="Lưu">
    </form>
</div>