<div class="container">
    <h1>đăng bài</h1>
    <form action="/posts/store" method="post">
    <label for="name">title</label>
    <input type="text" id="name" name="name"><br><br>
    <label for="description">content: </label>
    <input type="text" id="description" name="description"><br><br>
    <label for="image">link: </label>
    <input type="text" id="image" name="image"><br><br>
    <input type="submit" value="Submit">
    </form>
</div>