<div class="container">
    <h1>đăng bài</h1>
    <form action="/posts/{{post._id}}?_method=PUT" method="post">
    <label for="name">title</label>
    <input type="text" value="{{post.name}}" id="name" name="name"><br><br>
    <label for="description">content: </label>
    <textarea id="description" name="description">{{post.description}}</textarea><br><br>
    <label for="image">link: </label>
    <input type="text" value="{{post.image}}" id="image" name="image"><br><br>
    <input type="submit" value="Lưu">
    </form>
</div>